html,body{width: 100%;height: 100%;font-size: 16px;}
body{display: flex;flex-direction:column;align-items:center;}

header{height: 0.88rem;background-color: #0dc441;font-size: 0.23rem;color: #fff;text-align: center;line-height: 0.88rem;width: 100%;}

header span{display: inline-block;width: 1.14rem;height: 0.48rem;opacity:0.7;background-color: #64d985;line-height: 0.48rem;}
header span:first-child{border-radius: 0.24rem 0 0 0.24rem;}
header span:last-child{border-radius: 0 0.24rem 0.24rem 0;}
header span.active{opacity: 1;}



section{flex:1;width: 100%;overflow: auto;background-color: #f1f1f1;}
section .li{margin-bottom: 0.1rem;background-color: #fff;}
section .li .user{display: flex;padding: 0 0.25rem;align-items:center;height: 1.4rem;}
section .li .user div{margin-left: 0.18rem;flex:1;}
section .li .user img{width: 0.96rem;}
section .li .user div p:first-child{height: 0.52rem;line-height: 0.52rem;font-size: 0.28rem;}
section .li .user div p:first-child span{float: right;color: #dddddd;font-size: 0.18rem;}
section .li .user div p:last-child{height: 0.46rem;line-height: 0.46rem;font-size: 0.23rem;color: #999999;}
section .li .showimg{width: 100%;}
section .li>.des{line-height: 0.65rem;line-height: 0.65rem;border-bottom: 1px solid #e5e5e5;font-size: 0.23rem;padding-left: 0.4rem;}
