<!doctype html>
<html>
<head>
	<meta charset='utf-8'/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>发现</title>
  <link rel="stylesheet" href="../css/iconfont/iconfont.css">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/faxian.css">
  <link rel="stylesheet" href="../css/swiper-3.4.2.min.css">
	<script>
       (function (doc, win) {
            var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
              var clientWidth = docEl.clientWidth;
              if (!clientWidth) return;     
               docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
            };
          if (!doc.addEventListener) return;
          win.addEventListener(resizeEvt, recalc, false);
          doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
	</script>
</head>
<body>
<header>发现</header>

<div class="search">
  <input type='text' placeholder = '请输入昵称' />
  <button>搜索</button>
</div>

<section>
  <div class="li">
    <img src="../img/pikaqiu.jpg">
    <div>
      <p>我叫<span>屁啦求</span> <span>关注</span></p>
      <p class='des'>我是小梦我怕你</p>
    </div>
  </div>
  <div class="li">
    <img src="../img/pikaqiu.jpg">
    <div>
      <p>我叫<span>屁啦求</span> <span>关注</span></p>
      <p class='des'>我是小梦我怕你</p>
    </div>
  </div>
  <div class="li">
    <img src="../img/pikaqiu.jpg">
    <div>
      <p>我叫<span>屁啦求</span> <span>关注</span></p>
      <p class='des'>我是小梦我怕你</p>
    </div>
  </div>
  <script type="text/html" id='guanzhu'>

    <% for(var i=0;i<list.length;i++){
      var now = list[i]
     %>

        <div class="li">
          <img src= <%= now.img %> >
          <div>
            <p>我叫<span><%= now.name %></span> <span>关注</span></p>
            <p class='des'>我是小萌我怕誰！哈哈哈哈！</p>
          </div>
        </div>

    <% } %>
  </script>
</section>

<script type="text/javascript" src='/js/require.js' data-main="/js/faxian"></script>
</body>
</html>